body {
  font-family: cursive;
}

table {
  width: 900px;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  text-align: left;
}

.border,
td {
  border-bottom: 1px solid #ddd;
}

button {
  background-color: #e6f4ff;
  color: #1890ff;
  border: 1px solid #91d5ff;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 4px;
  padding: 3px 7px;
}

a {
  text-decoration: none;
  color: #1890ff;
}
